h2 {
  color: #0b850b;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: Roboto;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 70px;
    bottom: 0;
    right: 0;
    margin: auto;
    border-bottom: 1px solid #0b850b;
  }
}

.cart-container {
  width: 75%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.cart-wrapper {
  width: 66%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.payment-info {
  @media (max-width: 768px) {
    width: 100%;
  }
}
