.wrap-item {
  background: white;
  padding: 10px;
  padding-inline: 15px;
  font-family: Roboto;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  &:hover {

  }

  img {
    object-fit: cover;
    object-position: center;
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
    padding-inline: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .desc {
    height: 50px; /* You can adjust this value to control the number of lines displayed */
    text-align: center;
    letter-spacing: 1.1px;
    font-size: 12px;
    margin-top: 10px;
  }

  .price-label {
    margin-top: 10px;
    text-align: center;
  }

  span {
    color: #fe7314;
    font-weight: bolder;
  }

  .btn-order {
    width: 100%;
    background: white;
    margin-top: 15px;
    color: black;
    display: flex;
    justify-content: center;

    a {
      border-radius: 2px;
      border: black 0.9px solid;
      padding: 5px;
      padding-inline: 25px;

      &:hover {
        background: rgba(28, 28, 28, 0.92);
        color: white;
        transition: 0.5s;
      }
    }

  }
}
