.filter-content {
  cursor: pointer;
  font-family: Roboto;
  font-size: 10pt;
  padding: 5px;
  padding-inline: 15px;
  border: 0.5px #0b850b solid;
  border-radius: 20px;
  margin-right: 5px;
}

span {
  font-family: Roboto;
  font-size: 11pt;
}

h2 {
  color: #0b850b;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: Roboto;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 70px;
    bottom: 0;
    right: 0;
    margin: auto;
    border-bottom: 1px solid #0b850b;
  }
}