.filter-content {
  cursor: pointer;
  font-family: Roboto;
  font-size: 10pt;
  padding: 5px;
  padding-inline: 15px;
  border: 0.5px #0b850b solid;
  border-radius: 20px;
  margin-right: 5px;
}

span {
  font-family: Roboto;
  font-size: 11pt;
}

h2 {
  color: #0b850b;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: Roboto;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 70px;
    bottom: 0;
    right: 0;
    margin: auto;
    border-bottom: 1px solid #0b850b;
  }
}

.list-product {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 75%;
  padding: 10px;
}

.category-nav {
  width: 75%;
}

@media (max-width: 768px) {
  .list-product {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
  }
}

@media (max-width: 768px) {
  .list-product {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
  }
  .category-nav {
    width: 100%;
  }
}


